.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 30px;
  }

.bg-light {
    background-color:rgb(187, 133, 34);
        color: white !important;
}


i {
    font-size: 20px;
    color: white;
}

.current {
    border: none;
    width: 100%;
    background-color: rgb(19, 121, 204);
    margin-right: 25px;
}

.five-day {
    border: none;
    font-size: 24px;
    width: 100%;
    background-color: rgb(42, 42, 44);
    color: white;
    margin-right: 25px;
}



.cities {
    width: 100%;
    width: 100%;
    background-color: rgb(42, 42, 44);
    color: white;
    margin-bottom: 25px;
}

.forecast {
    background-color: blue;
    color: white;
    margin-bottom: 25px;
}



.btn-outline-success {
    color: rgb(41, 245, 245);
    border-color: rgb(41, 245, 245);
}

.btn:hover {
    background-color: rgb(41, 245, 245);
}