.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 30px;
  }

.bg-light {
        color: white !important;
}


i {
    font-size: 20px;
    color: white;
}

.current {
    border: none;
    width: 100%;
    background-color: rgb(109, 174, 240);
    margin-right: 25px;
}

.five-day {
    border: none;
    font-size: 24px;
    width: 100%;
    background-color: rgb(219, 219, 230);
    color: black;
    margin-right: 25px;
}



.cities {
    width: 100%;
    width: 100%;
    background-color: rgb(239, 239, 243);
    color: black;
    margin-bottom: 25px;
}

.forecast {
    background-color: blue;
    color: white;
    margin-bottom: 25px;
}



.btn-outline-success {
    color: rgb(41, 245, 245);
    border-color: rgb(41, 245, 245);
}

.btn:hover {
    background-color: rgb(41, 245, 245);
}